*.[oa]
*~
*.pyc
*.zip
*.tar.gz
*.sh
*passwords.py
*.txt
media/
log/
wiki/
tlvx/api/start/
static/img/
static/js/libs/
static/css/font-awesome*
static/css/bootstrap*
static/fonts/
olddb
old-db
templates/old_banner*
*.backup
*.dump
