{% extends "client/rates/rates-simple.html" %}
{% block rates-active %}
<div class="rates-100m">
    <div>
        {% for rate in current_rates %}
            {% if rate.name == 'clearfix' %}
                <div class="clearfix"></div>
            {% else %}
                {% include "client/rates/rates100m.html"%}
            {% endif %}
        {% endfor %}
    </div>

    <ul class="text-left feature-list">
        {% include "client/rates/rates-feature-list.html" %}
    </ul>

</div>
<div>
    <p class="help-block">*Услуга предоставляется ООО "Хом.АП-ТВ", ООО "Старт Медиа", ООО "Viasat" и АО «Телекомпания «СТРИМ». Количество каналов может меняться. Подключение производится при наличии технической возможности.</p>
    <p class="help-block">**Услуга предоставляется ООО "Медиа Технологии"</p>
    <p class="help-block">Скорость доступа к сети может отличаться от заявленной на 15% и только на сети Оператора, за ее пределами отклонение может быть значительно большим.</p>
    <p class="help-block">При недостатке денежных средств на лицевом счете происходит блокировка, для разблокировки счета необходимо внести полную сумму ежемесячной абонентской платы.</p>
    <p class="help-block">Все цены указаны в рублях с учетом всех налогов.</p>
</div>


{% endblock %}
{% block helptext %}
{% endblock %}
