<ul class="rates-100m-item {{ rate.class }}">
    <li class="rates-100m-feature rate-name">
        {{ rate.name }}
    </li>
    <li class="rates-100m-feature rate-main">
        {% if rate.televoxtv %}
        <div class="rate-speed col-xs-6">
            {{ rate.tv_count | safe }}
        </div>
        {% else %}
        <div class="rate-speed col-xs-6">
            <strong>{{ rate.dayspeed|default:'100' }}</strong>
            Мб/с
            {% if rate.summer %}
                <div class="allday">круглосуточно</div>
            {% endif %}
        </div>
        {% endif %}
        <div class="rate-price col-xs-6">
            <strong>{{ rate.payment }}</strong> руб/мес
        </div>
    </li>

    {% if rate.speed and not rate.summer %}
    <li class="rates-100m-feature">
        <i class="fa fa-2x fa-tachometer fa-fw"></i>
        <span>
            с 19-00 до 23-00<br> <strong>{{ rate.speed }} Мб/с</strong>
        </span>
    </li>
    {% endif %}

    <li>
        <a href="{% url 'client-simple_content' page='iptv' %}" class="rates-100m-feature">
            <i class="fa fa-2x fa-desktop fa-fw"></i>
            {% if rate.televoxtv %}
                <span><strong>5 терминалов</strong> бесплатно</span>
            {% else %}
                <span><strong> {{ rate.tv_count|safe }} </strong> бесплатно</span>
            {% endif %}
        </a>
    </li>

    {% if rate.href %}
    <li>
        <a class="rate-comment rates-100m-feature" href="{{ rate.href }}">
            Подробнее...
        </a>
    </li>
    {% endif %}

</ul>
