<div class="item" >
    <ul class="list-group rate-item {{class}}">
        <li class="list-group-item rate-name" ><h3>{{name}}</h3></li>
        <li class="list-group-item rate-main">
            <div>
                <div class="rate-price"><strong>{{payment}}</strong>руб/мес</div>
                {% if not tv %}
                <div class="rate-speed"><strong>100</strong>Мб/с</div>
                {% else %}
                <div class="rate-speed"><strong>{{televoxtv_tv_count}}</strong>TV каналов*</div>
                {% endif %}
            </div>
        </li>
        <li class="list-group-item feature" {% if tv %}style="border-top-color: transparent"{% endif %}>
            {% if not tv %}
            <i class="fa fa-2x fa-tachometer fa-fw"></i>
            <span class="feature-des normal-speed">
                <span>с 19-00 до 23-00<br> <strong>{{speed}} Мб/с</strong></span>
            </span>
            {% else %}
                <a class="rate-comment help-block selectedhref" href="{{href}}"
                   style="font-weight:bold;margin-top:8px;font-size: 20px;margin-left: 5px;">
                Подробнее..</a>
            {% endif %}
        </li>

        {% include "client/rates/rates-feature-list.html" %}
    </ul>
</div>
