/*=========================================================*/
/*===================Footer*/
/*=========================================================*/
footer>.content-inner{
    padding: 0;
}
#bottomnav{
    display: none;
}
#bottomnav li{
    display: inline-block;
    width: 19%;
    margin-bottom: 0;
}
/*=========================================================*/
/*===================General*/
/*=========================================================*/
body{padding: 0 0;}

/*--------Настраиваем сетку--------*/

.content-inner{
    display: inline-block;
    width:960px;
}
.content-inner-left{
    display: inline-block;
    width: 712px;
}

.content-inner-right{
    width:190px;
    float:right;
    text-align: justify;
}

.content-inner-right section{
    display: block;
    margin-bottom: 20px;
}

#main{
    margin: 0;
    margin-top: 45px;
}

#mainTop{
    margin-top: 0;
}

#mainTop .content-inner-left{
    margin-top: 0;
}

#mainTop .content-inner-right{
    margin-left: 0;
    margin-right: 0
}

/*=========================================================*/
/*===================Header*/
/*=========================================================*/

header{
    height: auto;
    position: static;
    margin-top: 15px;
    border-bottom: none;
    padding-right: 0;
    padding-left: 0;
    box-shadow: none;
}

header section{
    height: 56px;
}

header .content-inner{
    margin-right: 0;
}

header .content-inner-right{
    display: block;
    margin-top:0;
    margin-bottom: 0;
}

header .content-inner-right section{
    width: auto;
}

header .content-inner-right section:first-child .phones-block .phone-num{
    text-align: center;
}

header .content-inner-right section:last-child .phones-block .phone-num{
    text-align: center;
}

/*--------Header-top (Ресурсы + logo)--------*/

#collapseMenuBtn{
    display: none;
    margin-top: 0;
    float: none;
}

#topnav{
    margin-top: 0;
    padding-right: 0;
}

#topnav>#logo{
    height: 55px;
}

#topnav>ul{
    float: right;
    text-align: right;
    margin: 0;
    display:block;
}

#topnav>ul>li{
    margin-top:24px;
}

/*--------Header-bottom (Заявка)--------*/

#makeConReq{
    display: block;
    margin-bottom: 0;
}


.makeConReqBut{
    display: block;
    float:right;
}
/*--------Header-right (Phones)--------*/

.phones-block{
    display: inline-block;
    position: absolute;
    width: 198px;
    height: 48px;
    margin-right:0;
}

.phone-descr{
    display: block;
}

.phone-num{
    display: block;
}

/*=========================================================*/
/*===================Menu*/
/*=========================================================*/
/*--------Main menu--------*/

#mainMenu{
    width:190px; /*Такой же как и в .content-inner-right в разделе General*/
    height:412px;
    position: static;
    border-top: none;
    border-bottom: none;
    display: block;
    box-shadow: none;
}

#mainMenu .mybtn{
    display: block;
    border:1px solid;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-left: 0;
    padding: 12px;
    width: 100%;
}

#mainMenu .mybtn:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#mainMenu .mybtn:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top:0;
}

/*--------Menu bottom (2gis)--------*/

#gisBan{
    display: block;
}

#social{
    text-align: left;
}

/*=========================================================*/
/*===================Content (Middle)*/
/*=========================================================*/
/*--------Items--------*/

/*--------Map--------*/

.map{
    height:358px;
}

.map-full-size{
    height:410px;
}

.map-on-page-with-tp{
    height: 400px;
}


/*=========================================================*/
/*===================Pages*/
/*=========================================================*/
/*--------Letsfox--------*/

#LetsfoxMakeReq{
    display: none;
    float:none;
    width: 100%;
}

#doit .form-group .col-lg-6{
    width: 50%;
    float: left;
    padding-right: 0;
    padding-left: 10px;
    margin-bottom: 0;
}
#doit .form-group .col-lg-6:first-child{
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 10px;
}
#doit .form-group .col-lg-6:first-child{
    background-color: none;
}

/*--------Index--------*/
/*--------News--------*/
/*--------Internet (simple-pages)--------*/
/*--------Rates--------*/

.ratesGraph > ul > li > div > span{
    top:20%;
}
#ratesHit > ul > li:first-child .speed {
    top:11%;
}
#ratesHit > ul > li:first-child .traffic span{
    top:20%;
}
.ratesGraph > ul > li:first-child > .speed{
    top:10%;
}
.ratesGraph>ul>li>.pay{
    bottom:-1.6em;
}

.ratesGraph i{
    font-size: 0.7em;
    display: inline-block;
}
.ratesGraph>ul>li>.speed, #ratesHit>ul>li>.traffic>span{font-size: 2.8em; }
.ratesGraph>ul>li:first-child>.speed, #ratesHit>ul>li:first-child>.traffic>span,
.ratesGraph>ul>li>div>span{font-size: 2.3em;}
.ratesGraph>ul>li:last-child>.speed, #ratesHit>ul>li:last-child>.traffic>span{font-size: 3.2em; }
.ratesGraph>ul>li>.pay{font-size: 1.6em; }

/*--------About--------*/
/*--------How (tree pages)--------*/

/*=========================================================*/
/*===================Paginator*/
/*=========================================================*/

/*=========================================================*/
/*===================Carousel*/
/*=========================================================*/

#carussel{
    height: 412px;
    display: block;
    margin-bottom: 10px;
}