/*
Colors:
orange:             #ff6600;
light-orange:       #fe812f;
light-gray(text):   #909090;
light-gray(bg):     #9c9c9c;
light-gray(border): #DADADA;
gray (text):        #333;
*/
/*=========================================================*/
/*===================Footer*/
/*=========================================================*/
/*Прибиваем футер к низу*/
* { margin:0; padding:0; }
html, body, #wrap { height: 100%;}
body > #wrap {height: auto; min-height: 100%;position: relative;}
#main {
	min-height: 520px;
	padding-bottom: 150px;}  /* must be same height as the footer */
footer{
	position: relative;
    margin-top: -130px; /* negative value of footer height */
    height: 130px;
    clear:both;
}
.clearfix:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/*Конец прибития футера к низу*/
/*=========================================================*/
/*===================Footer*/
/*=========================================================*/
footer{
	color:#909090;
	padding-bottom: 10px;
}

footer a{
	color:#909090!important;
}

footer>.content-inner{
	border-top:1px double ;
	border-color: #DADADA;
	padding-top: 10px;
}
#footer-phones{
	text-align: center;
	margin-bottom: 5px;
}
#footer-phones>div:first-child{
	margin-right:5px;
}
#footer-phones>div{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
#footer-phones .footer-phones-num{
	font-size: 1.8em;
}
#bottomnav{
	font-size: 1em;
	margin-top: 10px;
	list-style: none;
	text-align: center;
}

#bottomnav a{
	color: #909090;
}
/*=========================================================*/
/*===================General*/
/*=========================================================*/
html{
	background-color: white;
	color:#444;
	text-align: center;
}
select,select:focus,opttion,opttion:focus{
    text-decoration:none;
    outline: none;
    -moz-appearance: none;
    outline:none;
}
a,a:hover,a:visited,a:link,a:focus,a:active{
    outline: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
a, a:visited, a:link{color:#444;}
a:hover,a:active, a:focus{color:#ff6600;border-color:#ff6600 }
.form-control, .form-control:focus, .form-control:active, .form-control:hover {
	border-color:#CCC;
	box-shadow: none;
}

input, select, input:active, select:active, input:focus, select:focus, input:hover, select:hover{
	margin:0;
    border:1px solid ;
    box-shadow:none;
}
input[type="checkbox"]:hover, input[type="checkbox"]:focus, input[type="checkbox"]:active{
	margin-top: 4px;
}
input[type='text']:focus, input[type='email']:focus {
	box-shadow: 0 0 2px #fe812f;
	border-color:#fe812f;
}
/*--------Buttins--------*/
.btn-link:focus{
	color:inherit;
}
.btn:focus{
	outline: none;
}
.mybtn{
	text-decoration: none;
	border-color: #9c9c9c;
	background-color: #fff;
	color:#444;
	margin-top: 15px;
	padding: 12px 60px;
	bottom: 0;
	left:0;
	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  color: #888;
}

.mybtn-link{
	color:#444;
	border: none;
	padding: 0px;
	margin: 0px;
	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.mybtn-link:hover, .btn-link:hover{
	color:#ff6600;
	text-shadow:none;
	text-decoration: underline;
}
.mybtn-block{
	display: block;
	max-width:100%;
}
.btn-orange,.btn-orange:hover,.btn-orange:visited,.btn-orange:link,.btn-orange:focus,.btn-orange:active{
	color:white;
	border-color:#ff6600;
	background: #fe812f;
}

.btn-orange:hover, .btn-orange:active, .btn-orange:focus{
	background: #ff6600;
}

/*--------Ul ol--------*/
ol{margin-left:20px;}

/*--------Tables--------*/
.table{
	margin-bottom: 5px;
	max-width: 100%;
}
td{
	min-width: 0;
	/*word-wrap: break-word;
	word-break: break-all;*/
}
/*--------Iframe--------*/
iframe{
	max-width:100%;
	border: none;
}

/*--------Настраиваем сетку--------*/
.content-inner{
	text-align: justify;
}

.content-inner-left{
	clear: both;
	position: relative;
}

.content-inner-right{
	position: relative;
}

.content-inner-right section{
	width: auto;
}

#mainTop{
	margin-bottom:40px;
}


/*=========================================================*/
/*===================Header*/
/*=========================================================*/

header{
	background-color: #fff;
	z-index: 1039;
	width: 100%;
}

header section{
	width: 100%;
	margin-bottom: 20px
}

header section:last-child{
	margin-bottom: 0
}

#topnav{
	height: auto;
}

/*--------Header-top (Ресурсы + logo)--------*/

#topnav{
	text-align: right;
	width:100%;
	height: 56px;
}

#topnav>#logo{
	display: block;
	float:left;
}

#topnav>#logo>img{
	max-height:100%;
}

#topnav>a{
	padding:0;
}

#topnav>ul{
	clear: both;
	margin: 0;
}

#topnav>ul>li{
	display: inline-block;
	text-align: center;
	margin:0;
	margin-top:24px;
	margin-left:65px;
}

#topnav>ul>li:first-child{
	margin-left:0px;
}

#topnav>ul>li:last-child a{
	text-decoration: underline; /*Кнопка "Личный кабинет"*/
}

/*--------Header-bottom (Заявка)--------*/

#streetTips{ /*Выпадающая подсказка с названиями улиц*/
	overflow: hidden;
	position: absolute;
	text-align: center;
	border:1px solid;
	border-radius: 4px;
	-webkit-border-radius:4px;
	border-color: #DADADA;
	background: white;
	max-height:4.4em;
	margin-top:2px;
	z-index:2000;
	display: none;
}

#streetTips>ul{
	list-style: none
}

#streetTips>ul>li{
    cursor:pointer;
	margin:3px;
}

#streetTips>ul>li:hover, #streetTips>ul>.active{
	border-color:#ff6600;
	color:#ff6600;
}

#makeConReq{
	border:1px solid;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border-color: #DADADA;
}

#makeConReq>form{
	height: 32px;
	margin: 11px 7px;
}

#makeConReq .form-group{
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

#makeConReqStreet{
	margin-left:18px;
}

#makeConReqSelect, #streetTips{
	width: 190px
}

#makeConReqSelect{
	margin-left: 5px;
	margin-right:30px;
}

.makeConReqInput{
	margin-left: 5px;
	width:50px;
}



/*--------Header-right (Phones)--------*/

.phone-descr{
	text-align: center;
	margin-top:-5px;
}

.phone-num{
	text-align: center;
    font-weight: bold;
	margin-top: 5px;
}

.content-inner-right>section:last-child .phones-block{
	margin-right: 0;
}

@media (max-width: 300px){.phones-block{display: none;} } /*Очень маленькие экраны*/

@media(min-height: 700px) and (min-width:990px) {.phones-block{ position: fixed;} } /*Ограничение по высоте для плавующего блока*/

/*=========================================================*/
/*===================Menu*/
/*=========================================================*/
/*--------Main menu--------*/

#mainMenu{
	border-color: #DADADA;
    background-color: #fff;
    overflow: hidden;
    z-index: 1038;
}

#mainMenu .mybtn:last-child{
	margin-bottom: 0;
}

@media(min-height: 700px) and (min-width:990px)  {
	#mainMenu{
		position: fixed;
		z-index: 1;
	}
} /*Ограничение по высоте для плавующего блока*/

/*--------Menu bottom (2gis)--------*/

#gisBan{
	text-align: left;
	font-weight: normal;
	padding: 0.3em 0;
	white-space: normal;
}

#gisBan>div{
	display: inline-block;
	margin-left:10px;
	width:42px;
}

#gisBan>img{
	display: inline-block;
	margin-top:-20px;
	margin-left: 20px;
}

#social>a{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-left: 20px
}

#social>a:first-child{
	margin-left:4px;
}

#menuBottom{
	margin-top:35px;
}
/*=========================================================*/
/*===================Content (Middle)*/
/*=========================================================*/

/*--------Items--------*/
.some-item{
	text-align: left;
	margin-bottom: 15px;
}
.some-item-date{
	border-bottom: 1px solid;
	color:#909090;
	border-color: #DADADA;
	padding-bottom: 3px;
}
.some-item-body, .some-item-body-title{
	max-width:100%;
	margin-top: 5px;
	text-decoration: none;
}
.some-item-body, .some-item-body-title:focus{
	text-decoration: none;
}
.some-item-body{
	position: relative;
	margin-right: 10px;
}
.some-item-body-title{
	display: inline-block;
	font-weight: bold;
	border-bottom: 1px solid;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.some-item-body-title:hover{
	text-decoration: none;
}
.some-item-body a:hover{}
.some-item-body-text{
	min-height: 1.5em;
	margin-top: 5px;
	max-width: 100%;
}
.some-item-body-text a{
	text-decoration: underline;
}
.more-items-btn{
	text-decoration: underline;
	font-weight: bold;
	margin-top: 30px;
}
.more-items-btn>span{
	cursor:pointer;
}
.more-items-btn:hover{
	color:#ff6600;
	border-color:#ff6600 ;
}
/*--------Map--------*/
.map{
	overflow: hidden;
	display:none;
	width:100%;
	border:1px solid;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border-color: #DADADA;
}
/*Style for marker's balloon*/
.markerHeader{
	font-weight: bold;
}
.markerFooter{
	color:#909090;
}
/*--------Conect-button--------*/
#connectButton{
	text-align: center;
}
#connectButton a{
	text-align: center;
	margin-top: 15px;
	padding: 12px 0;
	display: inline-block;
	width: 190px;
	font-weight: normal;
	text-decoration: none;
}
@media (max-width: 711px) {
	#connectButton a{
		display: block;
		width: 100%;
	}
}

/*--------Content-bottom--------*/
.items-area-3items{
	overflow: hidden;
}
.items-area>.some-item{
	display: block;
	width:100%;
}
.items-area>.some-item:last-child{
	margin-right: 0;
}
.items-area>.some-item>.some-item-body>.some-item-body-text{
	overflow: hidden;
	max-height: 2.7em;
}
.items-area>.some-item>.some-item-body>.some-item-body-detail{
    font-weight:bold;font-size:0.9em
}

#simmularItems .some-item{
	cursor: pointer;
}
@media (min-width: 712px){
	.items-area>.some-item{
		display: inline-block;
		width:220px;
		margin-right:1em;
	}
	.items-area>.some-item>.some-item-body>.some-item-body-text{
		max-height: 5.6em;
	}
	.index-page .items-area>.some-item>.some-item-body>.some-item-body-text{
		min-height: 5.6em;
	}
}
/*=========================================================*/
/*===================Pages*/
/*=========================================================*/
.content{
	position: relative;
}

.content a{
	font-weight: bold;
	text-decoration: underline;
}

.index-page .phones-block,.index-page  #mainMenu{position: static;}
.index-page .items-area img{display: none}
/*--------Nav in page--------*/
.content-menu{
	margin-bottom: 30px;
}
.content-menu .active{
	color:#ff6600;
	border-color:#ff6600
}
.content-menu a{
	font-weight: normal;
	text-align: center;
	display: inline-block;
	width: 45%;
	margin-left: 4%;
	text-decoration: underline;
}
#aboutCont .content-menu a{
	width: 28%;
}
.content-menu>a:hover{
	text-decoration: underline;
}

/*--------Letsfox--------*/



.makeConReqBut button{
	width: 100%;
}

#LetsfoxMakeReq #makeConReqSelect, #LetsfoxMakeReq #streetTips, #LetsfoxMakeReq .makeConReqInput{
	width: auto;
	margin-left: 0;
	margin-right: 0;
}

#captcha img{
	max-height: 100%;
	display: inline-block;
	max-width: 30px!important;
}
#captcha label{
	padding: 10px 30px;
}

/*--------Index--------*/
/*--------News--------*/
/*--------Internet (simple-pages)--------*/
/*--------Rates--------*/
.rate-date{
	font-weight: normal;
	font-size: .9em;
}
/* Tables */
.rates-shapeover{
    position: relative;
}

.rates-shapeover .help-block{
	margin-top: 30px;
}

.rates-shapeover>.shapehover-section{
    position:absolute;
    top:-50px;
}

.rates-shapeover section{
    width: 712px;
}

.rates-shapeover table{
    margin-top: 60px;
    border: none!important;
}

.rates-shapeover table>thead{
    display: none;
}

.rates-shapeover table td{
    width: 142px;
    height: 55px;
    vertical-align: middle!important;
    border: none!important;
    position: relative;
}

.rates-shapeover table tr>td{
    -webkit-box-shadow: 0 -1px 0 0 rgba(100, 100, 100,0.2) inset;
    box-shadow: 0 -1px 0 0 rgba(100, 100, 100,0.2) inset;
}

.rates-shapeover table tr:last-child>td{
    box-shadow: none;
}

.rates-shapeover table td[rowspan="3"]{
    box-shadow: none;
}


.rates-100m{margin-top: 25px;font-size: 12px; min-height: 490px;}
.rates-100m .list-group-item{padding: 10px;}
/*.rates-100m strong{font-size: 14px;}*/
.rates-100m a{text-decoration: none;}
.rates-100m #connectButton a{margin-top: 5px;}
.rates-100m .carousel-control{background-image: none;}
/*.rates-100m .carousel-inner>.item{width:100%; text-align: center;}*/
.rates-100m .item{width:auto; text-align: left; float: left; margin-right: 5px;}
.rates-100m .item:last-child{margin-right: 0;}
.rates-100m .rate-item{
	display:inline-block;width: 170px; height:490px; text-align: justify;border-radius: 20px; overflow: hidden;
	-webkit-box-shadow: 0 0 18px 3px rgba(200,200,200,0.7) ;
	box-shadow: 0 0 18px 3px rgba(200,200,200,0.7) ;
	-webkit-transition: all 100ms ease-out 200ms;
	-moz-transition: all 100ms ease-out 200ms;
	-o-transition: all 100ms ease-out 200ms;
	transition: all 100ms ease-out 200ms;
}
.rates-100m .rate-item:active,
.rates-100m .rate-item:focus,
.rates-100m .rate-item:hover{
	box-shadow: 0 0 18px 3px rgba(150,150,150,0.7) ;
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
	-webkit-transition-delay: 0;
	-moz-transition-delay: 0;
	-o-transition-delay: 0;
	transition-delay: 0;
}
.rates-100m .list-group-item:first-child {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.rates-100m .list-group-item:last-child {
	border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;
}
.rates-100m .rate-item .rate-name{background-color:rgba(255, 113, 20, 1)}
.rates-100m .item:hover .rate-name{background-color:rgba(255, 102, 0, 1)}
.rates-100m .rate-item h3{text-align: center;color: #fff;font-weight: bold;margin: 4px 0; font-size: 20px;}
.rates-100m .rate-item .rate-main{text-align: center;width: 100%; font-size: 14px; font-weight: bold;}
.rates-100m .rate-item .rate-main .rate-comment{display: inline-block; width: 100%; height: 30px;margin: 0;margin-top: 8px;font-size: 12px;font-weight: normal;color: rgb(115, 115, 115)}
.rates-100m .rate-item .rate-main .rate-comment.selectedhref{color: rgba(255, 113, 20, 1); font-weight: bold;font-size: 16px;}
.rates-100m .rate-item .rate-main .rate-comment.selectedhref:hover{text-decoration: underline;}
.rates-100m .rate-item .rate-main a.rate-comment:hover{color: rgb(255, 102, 0)}
.rates-100m .rate-item .rate-speed, .rates-100m  .rate-item .rate-price{width: 50%;box-sizing: border-box;}
.rates-100m .rate-item .rate-speed {border-right: 1px solid rgba(255, 113, 20, 1); }
.rates-100m .rate-item .rate-speed strong{font-size: 38px;display: block;}
.rates-100m .rate-item .rate-price {border-left: 1px solid rgba(255, 113, 20, 1); float: right; padding: 10px 0;}
.rates-100m .rate-item .rate-price strong{font-size: 20px;display: block;}
.rates-100m .rate-item .feature{height: 65px; text-align: left;}
.rates-100m .rate-item .feature>a{display: inline-block; font-weight: normal; }
.rates-100m .rate-item .feature i{float: left;margin-top: 8px; font-size: 19px;}
/*.rates-100m .rate-item .feature>a:hover i, .rates-100m .rate-item .feature>a:hover strong{color:rgba(255, 113, 20, 1)}*/
.rates-100m .rate-item .feature-des{display: table; margin-left: 33px;height: 42px;}
.rates-100m .rate-item .feature-des.normal-speed strong{font-size: 20px;}
.rates-100m .rate-item .feature-des>span{display: table-cell; vertical-align: middle;}
.rates-100m .feature-des-sum{display: none;}
.rates-100m .feature-des-sum .rate-item{width: 100%;box-shadow: none; border: none;}
.rates-100m .feature-des-sum .rate-item:hover,
.rates-100m .feature-des-sum .rate-item:focus,
.rates-100m .feature-des-sum .rate-item:active,{
	-webkit-transform: none;
	transform: none;
}
.rates-100m .feature-des-sum .rate-item li{box-shadow: none;border: none;}

@media (max-width: 720px){
	.rates-100m .rate-item{height: 233px}
	.rates-100m .feature-des-sum{display: block;}
	.rates-100m .rate-item .feature{border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;}
	/*.rates-100m .hidden-feature{max-height: 0;visibility: none;overflow: hidden;} */
}

@media (max-width: 710px){
	.rates-100m{max-width: 500px;}
}

.rates-archive{display: none;}

/*--------Payment--------*/
.pager li > a{
	color:#909090;
}
.pager li > a:hover{
	color:#ff6600;
}
.pager li > a, .pager li > a:hover{
	border: none;
	background-color: transparent;
}
.pager .title, .pager .title:hover{
	cursor: default;
	color:#909090;
}

.paymentWays>.payment-items{
	margin-bottom: 30px;
	display: block;
	min-height: 45px;
	webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.paymentWays>.payment-items .icon-box{
	float:left;
	margin-top:-5px;
	width:45px;
	text-align:center;
}

.paymentWays>.payment-items .payment-items-description {
	display: inline-block;
	font-size: 1em;
	color:#444;
	font-weight: normal!important;
}

.paymentWays>.payment-items .payment-items-name{
	font-weight:bold;
}

.paymentWays>.payment-items .payment-items-right{
	margin-left:60px;
}

.how-play-btn{
	cursor: pointer;
	text-decoration: underline;
}

.how-play-btn:hover{
	color: #ff6600;
}

#payment-card .some-item-body:hover, #payment-card .some-item-body{
	text-decoration: none;
	display: inline-block;
	color: #444;
}
/*--------About--------*/
/*--------How (tree pages)--------*/

.link-list>ul{min-height: 435px;}
.link-list ul{margin-left:20px;}
.link-list ul>div{margin-left:-20px;}
.link-list>ul>li{margin-bottom:10px;}
.link-list ul>li{margin-top:5px;}
.link-list>.shortLink{margin-left: 0;list-style: none}
.link-list>.shortLink>li>ul>li>span{text-decoration: underline;}
.link-list>ul>li>a, .link-descr-list>ul>li>a, .link-descr-list>ul>li>ul>li>a{font-weight: bold;}
.link-list>ul>li>ul>li>a{font-weight: normal;}
.link-list>div>ul{margin-bottom: 50px;}

.link-descr-list a{text-decoration: underline;}
.link-descr-list>ul>li{margin-top:30px;}
.link-descr-list>ul ul{margin-top:5px;list-style: none}
.link-descr-list>ul ul>li{margin-left: 15px;}
.link-descr-list>ul ul>li>p{margin-left:5px;margin-top: 5px}




/*=========================================================*/
/*===================Paginator*/
/*=========================================================*/
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > li > a:hover,
.pagination > li > a,
.pagination > li > a>span,
.pagination > .disabled > a,
.pagination > .disabled > a>span,
.pagination > .disabled > a:hover>span{
	background: white;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > li > a:hover{
	color:white;
}
.pagination > .disabled > a,
.pagination > .disabled > a>span,
.pagination > .disabled > a:hover>span{
	color:#444;
}
.pagination,
.pagination>.active>a,
.pagination>.active>a:hover{
	border-color: #9c9c9c;
}
.pagination > li > a,
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > li > a:hover,
.pagination > .disabled > a,
.pagination > .disabled > a>span,
.pagination > .disabled > a:hover>span{
	border: none;
}
.pagination > li > a{
	position: relative;
	color:#909090;
	width:3.1em;
	height: 3.1em;
}
.pagination > .active > a>span,
.pagination > li > a:hover>span{
	width: 90%;
	height: 90%;
	top:6%;
	left:5%;
	background: #ff6600;
}
.pagination > .moreless > a{
	width:2em;
}
.pagination > .moreless > a:hover{
	color:#ff6600;
	border-color:#ff6600
}
.pagination > .active > a>span>span,
.pagination > li > a:hover>span>span{
	vertical-align: -20%;
}
.pagination > li > a>span{
	display: inline-block;
	position: absolute;
	width: 70%;
	height: 70%;
	top:15%;
	left:15%;
	border:1px solid;
	border-radius: 100%;
	-webkit-border-radius:100%;
	padding-top: 0.3em;
}

/*=========================================================*/
/*===================Carousel*/
/*=========================================================*/
#carussel{
	overflow:hidden;
	text-align:center;
}

#carussel img{
	display:inline-block;
	max-width:100%;
}

.carousel-indicators{
	top:0;
	bottom: 94%;
	right: 2%;
	text-align: right;
	width:auto;
}
.carousel-indicators>li{
	border-color: #9c9c9c;
}
.carousel-indicators>.active{
	background-color: #9c9c9c;
}
/*=========================================================*/
/*===================Helper class*/
/*=========================================================*/
.margin-top{margin-top: 15px;}
.margin-bottom{margin-bottom: 15px;}
.padding-bottom{padding-bottom: 15px;}
.orange, .orange a,.orange button:hover,.orange button:focus, .orange button i{color:#ff6600;}
.bold-a{font-weight: bold;}
.help-block{font-weight: normal;}
.big-ul{
	margin-left: 20px;
}
.big-ul>li{
	margin-top: 10px;
}
.static-header, .#mainMenu.static-header{
	position: absolute;
}
.no-margin-top{
	margin-top: -40px;
}
.no-margin{margin: 0 }
.no-padding{padding: 0}
footer .gray-text{
	color: #909090;
}

.modal img{
	max-width: 100%!important;
}
