{% extends "client/payment-way.html" %}
{% block main-top-left %}   
<p> Услуга «Мобильные платежи» доступна без подключения для абонентов «Билайн», «МТС», «Мегафон». </p>
<p>Вы можете пополнить свой лицевой счет двумя способами:</p>
<div class="link-list">
	<ol>
		<li><strong>На сайте</strong><br>
			<p>Для этого заполните форму ниже</p>
			<div style="height:180px">
				<iframe width="712" height="180" align="left" frameborder="0" scrolling="no"
					src="http://arsenalpay.ru/userframesecure-mk/pay.php?t=00f9fc5d630e46f0baea0792e18c84ee&amp;n=&amp;а=&amp;msisdn=&amp;s=">
				</iframe>				
			</div>
			<span class="help-block" style="font-weight: normal;">
				"Номер телефона" - номер, с которого будет производиться оплата<br>
				"Номер получателя" - номер вашего договора<br>
				"Сумма к оплате" - сумма платежа в рублях
			</span>
			<p>
			На указанный мобильный телефон будет отправлена SMS с реквизитами платежа. Для успешной оплаты необходимо подтвердить платёж ответным SMS. Стоимость первой SMS на номер 1500 составляет 1 р. 50 коп, все остальные SMS (входящие и исходящие) бесплатны для абонента в рамках данной транзакции.				
			</p>
		</li>
		<li><strong>С помощью смс</strong><br>
			<p>Для абонентов «Билайн», «МТС» и «Мегафон»:</p>
			<ul>Оплатить услуги интернета компании «Телевокс» можно следующими способами:
				<li>Отправить SMS на номер 1500 с текстом «OPLATA TELEVOX НОМЕР ДОГОВОРА СУММА». Параметры указываются через пробел. Например, «OPLATA TELEVOX 123456 100», где 123456 – лицевой счёт на интернет, 100 – сумма к оплате. </li>
				<li>Либо отправить SMS на номер 1500 с текстом «ОПЛАТА 2071 НОМЕР ДОГОВОРА СУММА». Параметры указываются через пробел. Например, «ОПЛАТА 2071 123456 100», где 2071 – номер компании, 123456 – лицевой счёт, 100 – сумма к оплате.</li>
			</ul>
			<p>Далее, на мобильный телефон абонента будет отправлена SMS с реквизитами платежа. Для успешной оплаты необходимо подтвердить платёж ответным SMS. Стоимость первой SMS на номер 1500 составляет 1 р. 50 коп, все остальные SMS (входящие и исходящие) бесплатны для абонента в рамках данной транзакции.</p>
		</li>
	</ol>
	<p><strong>Стоимость услуг</strong></p>
	<p>Услуга «Мобильные платежи» для абонентов «Билайн», «Мегафон» предоставляется бесплатно, с абонентов «МТС» удерживается 10 р. на стороне оператора (ОАО МТС) независимо от суммы платежа. Абонент самостоятельно несет ответственность за правильность указания в SMS-командах  реквизитов платежей компании (кода компании,  лицевого счета и суммы оплаты), в чью пользу производится платеж. Абоненту всегда должно приходить SMS с параметрами платежа и конечными суммами.</p>
	<p><strong>Дополнительная комиссия по услуге «Мобильные платежи» составляет:<br>
	«Билайн» - 8%, <br>
	«МТС» - 5% <br>
	«Мегафон» - от 3-х до 5-ти % к сумме оплаты.</strong></p>	
	<p><strong>Ограничения пользования сервисом «Мобильные платежи» с учетом комиссии.</strong></p>
	<ul>
		<li>
			Максимальная сумма платежа в сутки – 15 000 руб. <br>
			Сумма всех платежей за сутки (временной интервал с 00:00 - 24:00 по местному времени)
		</li>
		<li>
			Максимальная сумма единовременного платежа – 15 000 руб. <br>
			Максимальная сумма, разрешенная к переводу в одной транзакции. 
		</li>
		<li>
			Минимальная сумма единовременного платежа с помощью SMS – 50 руб. <br>
			Минимальная сумма единовременного платежа с помощью «кнопки» на сайте  – 10 руб.<br> 
			Минимальная сумма, разрешенная к переводу в одной транзакции.
		</li>
		<li>
			Минимальный остаток на Лицевом счёте после платежа – 50 руб.<br>
			Минимальная сумма, которая должна остаться на лицевом счете абонента, после совершения платежа. 
		</li>
		<li>
			Максимальная сумма ежемесячного платежа – 15 000 руб. <br>
			Сумма всех платежей за календарный месяц.
		</li>
	</ul>
	Услуга предоставлена компанией-партнером <a href="http://arsenalpay.ru/" style="text-decoration:underline">«Арсенал Медиа»</a>.
</div>
{% endblock %}  