{% extends "client/base.html" %}
{% block content %}Телевокс - Справка{% endblock %}
{% block title %}Televox -  Справка{% endblock %}
{% block jsscript %}
{% endblock %}   
{% block how-btn-active %}active{% endblock %}
{% block main-top-left %}
<div id="faqList" class="link-list"> 
	{% if data %}
		<ul>
			{% for how in data.childs %}
			<li> 
				<a href="#{{how.name}}"> {{ how.display_name }} </a>
				<ul>
					{% for how_var in how.childs %}	
					<li><a href="#{{how_var.name}}"> {{ how_var.display_name }} </a></li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}   
{% block connectBut %}  
{% endblock %}   
{% block main-bottom-left %}
<div id="fqaAnsw" class="link-descr-list">
	{% if data %}
		<ul>
			{% for how in data.childs %}
			<li> 
				<a href="#{{how.name}}" name="{{how.name}}"> {{ how.display_name }} </a>
				<div> {{ how.content|safe }} </div>
				<ul>
					{% for how_var in how.childs %}	
					<li>
						<a href="#{{how_var.name}}" id="{{how.name}}"> {{ how_var.display_name }} </a>
						<a href="" class="pull-right"><i class="fa fa-arrow-up"></i></a>
						<div> {{ how_var.content|safe }} </div>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}   