{% extends "client/base.html" %}

{% block bodyclass %}index-page{% endblock %}


<!-- Center carusel -->
{% block main-top-left %}
    <div id="carussel">
        <div id="carussel-main" class="carousel slide"
             data-ride="carousel" data-interval="10000">
            <!-- Indicators -->
            {% if banners.count > 1 %}
            <ol class="carousel-indicators">
                {% for img in banners %}
                    <li data-target="#carussel-main"
                        data-slide-to="{{img.counter}}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
                <!---->
            </ol>
            {% endif %}
            <!-- Wrapper for slides -->
            <div class="carousel-inner" data-interval="1000">
                {% for img in banners %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <a href="{{ img.href }}">
                        <img src="{{ img.get_img_absolute_urls }}" >
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- /#carussel -->
{% endblock %}



<!-- Remove the connectButtons -->
{% block connectBut %}
{% endblock %}



{% block main-bottom-left %}
<!-- Last 3th news -->
    <div id="simmularItems" class="items-area no-margin-top">
        {% for note in notes %}
            <div class="some-item">
                <div class="some-item-date">
                    {{ note.date|date:"d E Y" }}
                </div><!-- /.some-item-date -->
                <div class="some-item-body">
                    <a class="some-item-body-title" href="{% url 'client-newsdetail' note.id %}">
                        {{ note.header }}
                    </a>
                    <div class="some-item-body-text">
                        {{ note.text|safe }}
                    </div>
		            <a class="some-item-body-detail" href="{% url 'client-newsdetail' note.id %}" >Читать далее...</a>
                </div><!-- /.some-item-body -->
            </div><!-- /.some-item -->
        {% endfor %}
    </div><!-- /#simmularItems -->

<!-- Link to news page -->
    <div class="more-items-btn">
        <a href="{% url 'client-news' %}">Все новости</a>
    </div><!-- /.more-items-btn -->
{% endblock %}


{% block menuBottom %}
    <div id="menuBottom">
        {% block 2gisban %}
            <a class="btn btn-default mybtn mybtn-block" id="gisBan" href="https://2gis.ru/blagoveshensk/search/%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%BE%D0%BA%D1%81/firm/7318877675493093/tab/firms?queryState=center%2F127.503414%2C50.265101%2Fzoom%2F16">
                <div>МЫ НА КАРТЕ</div>
                <img src="static/img/2gis.png" alt='2gis'>
            </a>
        {% endblock %}
        {% block social %}
            <div id="social" class="margin-top">
                <a href="http://www.odnoklassniki.ru/profile/523609457931">
                    <img src="static/img/soc-ok.png" alt='ok-ico'>
                </a>
                <a href="http://vk.com/tlvxru">
                    <img src="static/img/soc-vk.png" alt='vk-ico'>
                </a>
                <a href="https://www.flamp.ru/televox">
                    <img src="static/img/flamp.jpg" alt='mail-ico'>
                </a>
                <a href="https://www.facebook.com/fox.televox">
                    <img src="static/img/soc-f.png" alt='fb-ico'>
                </a>
                <a href="https://twitter.com/Televox_company">
                    <img src="static/img/soc-tw.png" alt='tw-ico'>
                </a>
            </div>
        {% endblock %}
    </div>
{% endblock %}
