<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Интернет провайдер Телевокс - Интернет в каждый дом!" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-3.0.0/bootstrap/css/bootstrap.min.css">
    <title>{% block title %}Televox{% endblock %}</title>
</head>

<body>
<div id="map" style="height:800px;"></div>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/2gis/1.0/2gis.js"></script>
<script type="text/javascript">
    window.onload = function(){
		function tostr(l){return l.toString() }
		var map = new DG.Map("map");
		map.controls.add(new DG.Controls.Zoom());
		map.setCenter( new DG.GeoPoint(127.534884, 50.2866410303),13);
		map.geoclicker.disable();
		map.addEventListener(map.getContainerId(), 'DgClick', function(e){
			var point = e.getGeoPoint();
			var message = 'Latitude: ' + tostr(point.lat) +'\nLongitude: ' + tostr(point.lon)
			alert(message)
		})        
    }
</script>
</body>