{% extends "client/base.html" %}


{% block content %}Телевокс - Новости{% endblock %}
{% block title %}Televox -  Новости{% endblock %}


<!-- Set menu active -->
{% block new-btn-active %}active{% endblock %}


{% block main-top-left %}
<div id="bigParent">
    <div id="newsCont">
<!-- News items -->
        {% for note in notes %}
            <div class="some-item">
                <div class="some-item-date">
                    {{ note.date|date:"d E Y" }}
                </div>
                <div class="some-item-body">
                    <a class="some-item-body-title" href="{% url 'client-newsdetail' note.id %}">
                        {{ note.header }}
                    </a>
                    <div class="some-item-body-text">
                        {{ note.text|safe }}
                    </div>
                </div><!-- /.some-item-body -->
            </div><!-- /.some-item -->
        {% endfor %}
    </div><!-- /#newsCont -->


<!-- Paginator -->
    {% if max_page %}
        <div class="text-center">
            <ul class="pagination"> </ul>
        </div>
    {% endif %}
</div><!-- /#bigParent -->
{% endblock %}


<!-- Remove the connectButtons -->
{% block connectBut %}
{% endblock %}

{% block jsscript %}
<script type="text/javascript">
    var maxPage = {{ max_page }};

    function getPageItem(num) {
        var num = num || '...';
        return $('<li class="paginator-item">' +
                   '<a href="?page=' + num + '">' +
                        '<span><span>' +
                            num +
                        '</span></span>' +
                    '</a>' +
                 '</li>');
    }

    $( document ).ready( function () {
        var paginator = $('.pagination');
        if (!paginator.length) return;

        var params = window.location.search.substring(1).split('&');
        var query = {};
        params.forEach(function (p) {
            p = p.split('=');
            query[p[0]] = p[1];
        });

        var curPage = parseInt(query['page'] || 1);

        if (curPage > 1) {
            var prePage = curPage - 1;
            var preBtn = $('<li id="prev" class="moreless"><a href="?page=' + prePage + '">&laquo;</a></li>');
            paginator.append(preBtn);

            var firstPageBtn = getPageItem(1);
            paginator.append(firstPageBtn);
        }

        if (curPage > 3) {
            var preDisabledBtn = getPageItem().addClass('disabled');
            paginator.append(preDisabledBtn);
        }

        if (curPage > 2) {
            var preCurPageBtn = getPageItem(curPage - 1);
            paginator.append(preCurPageBtn);
        }

        var curPageBtn = getPageItem(curPage).addClass('active');
        paginator.append(curPageBtn);

        if (curPage < (maxPage - 1)) {
            var bextCurPageBtn = getPageItem(curPage + 1);
            paginator.append(bextCurPageBtn);
        }

        if (curPage < (maxPage - 2)) {
            var nextDisabledBtn = getPageItem().addClass('disabled');
            paginator.append(nextDisabledBtn);
        }

        if (curPage < maxPage) {
            var maxPageBtn = getPageItem(maxPage);
            paginator.append(maxPageBtn);

            var nextPage = curPage + 1;
            var nextBtn = $('<li id="next" class="moreless"><a href="?page=' + nextPage + '">&raquo;</a></li>');
            paginator.append(nextBtn);
        }
    } );
</script>
{% endblock %}

