{% extends "client/base.html" %}


{% block content %}Телевокс - Оплата{% endblock %}
{% block title %}Televox -  Оплата{% endblock %}


{% block style-block %}
{% endblock %}


<!-- Set menu active -->
{% block payment-btn-active %}active{% endblock %}


{% block main-top-left %}
<div class="paymentWays" >
<!-- Терминалы -->
    <a class="text-left payment-items" href="{% url 'client-paymentterminal' %}">
        <div class="icon-box">
            <i style="" class="fa fa-3x fa-money" ></i>
        </div><!-- /.icon-box -->
        <div class="payment-items-right">
            <div class="payment-items-name"> Наличные, 0% </div>
            <span class="payment-items-description">
                Оплата услуг наличными в терминалах</span>
        </div><!-- /.payment-items-right -->
    </a><!-- /.text-left.payment-items -->

<!-- Пластиковые карты -->
    <a class="text-left payment-items" href="{% url 'client-paymentcard' %}">
        <div class="icon-box" >
            <i style="" class="fa fa-3x fa-credit-card" ></i>
        </div><!-- /.icon-box -->
        <div class="payment-items-right">
            <div class="payment-items-name">
                Пластиковые карты
            </div>
            <span class="payment-items-description">
                Оплата услуг с помощью пластиковых карт Visa или Mastercard.</span>
        </div><!-- /.payment-items-right -->
    </a><!-- /.text-left.payment-items -->


<!-- Электронные деньги -->
    <a class="text-left payment-items" href="{% url 'client-paymentelmoney' %}">
        <div class="icon-box">
            <i style="" class="fa fa-3x fa-btc" ></i>
        </div><!-- /.icon-box -->
        <div class="payment-items-right">
            <div class="payment-items-name">
                Электронные деньги, 0%
            </div>
            <span class="payment-items-description">
                Оплата услуг с помощью электронных платежей систем (Яндекс.Деньги, WebMoney и пр.)</span>
        </div><!-- /.payment-items-right -->
    </a><!-- /.text-left.payment-items -->


 <!-- Мобильные платежи -->
    <a class="text-left payment-items" href="{% url 'client-payment' name='mobile' %}">
         <div class="icon-box">
            <i style="" class="fa fa-3x fa-mobile " ></i>
        </div><!-- /.icon-box -->
        <div class="payment-items-right">
            <div class="payment-items-name">
                Мобильные платежи
            </div>
            <span class="payment-items-description">
                Оплата услуг со счета вашего мобильного телефона.</span>
        </div><!-- /.payment-items-right -->
    </a><!-- /.text-left.payment-items -->
   
<!-- Обещанный платеж -->
    <a class="text-left payment-items" href="{% url 'client-payment' name='limit' %}">
        <div class="icon-box">
            <i style="" class="fa fa-3x fa-smile-o" ></i>
        </div><!-- /.icon-box -->
        <div class="payment-items-right">
            <div class="payment-items-name">
                Обещанный платеж, 0%
            </div>
            <span class="payment-items-description">
                Кредит, который вы можете взять для пополнения своего счета</span>
        </div>
    </a><!-- /.text-left.payment-items -->
</div><!-- /#paymentWays -->
{% endblock %}


{% block main-bottom-left %}
{% endblock %}


<!-- Remove the connectButtons -->
{% block connectBut %}
{% endblock %}
