{% extends "client/payment-way.html" %}


{% block content %}Телевокс - Мобильные платежи{% endblock %}
{% block title %}Televox -  Мобильные платежи{% endblock %}


{% block payment-title %}
        Мобильные платежи
{% endblock %}


{% block payment %}
{% comment %}
<ul>
    {% if not data.gray_ip %}
	<!-- Секция будет отображаться, только если пользователь зашел не с серого ип. -->
	<!-- way1 - with form -->
    <li>
        <strong>На сайте</strong><br />
        <p>Для этого заполните форму ниже</p>
        <div style="height: 180px;">
            <iframe src="http://arsenalpay.ru/userframesecure-mk/pay.php?t=00f9fc5d630e46f0baea0792e18c84ee&amp;n=&amp;а=&amp;msisdn=&amp;s=" width="712" height="180" frameborder="0" scrolling="no" align="left"></iframe>
        </div>
        <span class="help-block" style="font-weight: normal;"> "Номер телефона" - номер, с которого будет производиться оплата<br /> "Номер получателя" - номер вашего договора<br />  "Сумма к оплате" - сумма платежа в рублях </span>
        <p>На указанный мобильный телефон будет отправлена SMS с реквизитами платежа. Для успешной оплаты необходимо подтвердить платёж ответным SMS.&nbsp;</p>
    </li>
    {% endif %}

    <!-- way2 - with sms -->
    <li>
        <strong>С помощью смс</strong><br />
        <p>Для абонентов &laquo;Билайн&raquo;, &laquo;МТС&raquo; и &laquo;Мегафон&raquo;:</p>
        <p>Оплатить услуги интернета компании &laquo;Телевокс&raquo; можно следующим способом:</p>
        <ul>
        <li>Отправить SMS на номер 1500 с текстом &laquo;OPLATA TELEVOX НОМЕР ДОГОВОРА СУММА&raquo;. Параметры указываются через пробел. Например, &laquo;OPLATA TELEVOX 123456 100&raquo;, где 123456 &ndash; лицевой счёт на интернет, 100 &ndash; сумма к оплате.</li>
        </ul>
        <p>Далее, на мобильный телефон абонента будет отправлена SMS с реквизитами платежа. Для успешной оплаты необходимо подтвердить платёж ответным SMS. Стоимость первой SMS на номер 1500 составляет до 1 р. 50 коп. (в зависимости от тарифа мобильного оператора связи), все остальные SMS (входящие и исходящие) бесплатны для абонента в рамках данной транзакции.</p>
    </li>
</ul>

<!-- Описание порядка и стоимости -->
<p><strong>Стоимость услуг</strong></p>
<p>Абонент самостоятельно несет ответственность за правильность указания в SMS-командах реквизитов платежей компании (кода компании, лицевого счета и суммы оплаты), в чью пользу производится платеж. Абоненту всегда должно приходить SMS с параметрами платежа и конечными суммами.</p>
<p><strong>Дополнительная комиссия по услуге &laquo;Мобильные платежи&raquo; составляет:<br /> &laquo;Билайн&raquo; - 5%, <br /> &laquo;МТС&raquo; - 5% + 10руб. с каждой транзакции, независимо от суммы платежа,&nbsp;<br /> &laquo;Мегафон&raquo; - 5% от суммы платежа.</strong></p>
<p><strong>Ограничения пользования сервисом &laquo;Мобильные платежи&raquo; с учетом комиссии.</strong></p>

<ul>
    <li>Максимальная сумма платежа в сутки &ndash; 15 000 руб. <br /> Сумма всех платежей за сутки (временной интервал с 00:00 - 24:00 по местному времени)</li>
    <li>Максимальная сумма единовременного платежа &ndash; 15 000 руб. <br /> Максимальная сумма, разрешенная к переводу в одной транзакции.</li>
    <li>Минимальная сумма единовременного платежа с помощью SMS &ndash; 50 руб. <br /> Минимальная сумма единовременного платежа с помощью &laquo;кнопки&raquo; на сайте &ndash; 10 руб.<br /> Минимальная сумма, разрешенная к переводу в одной транзакции.</li>
    <li>Минимальный остаток на Лицевом счёте после платежа &ndash; 50 руб.<br /> Минимальная сумма, которая должна остаться на лицевом счете абонента, после совершения платежа.</li>
    <li>Максимальная сумма ежемесячного платежа &ndash; 15 000 руб. <br /> Сумма всех платежей за календарный месяц.</li>
</ul>

<p>Услуга предоставлена компанией-партнером <a style="text-decoration: underline;" href="http://arsenalpay.ru/">&laquo;Арсенал Медиа&raquo;</a></p>
{% endcomment %}

<p>Сервис временно недоступен. Приносим свои извинения.</p>
{% endblock %}
