{% extends "client/rates-simple.html" %}

{% block rates-active %}
<!-- <div style="margin-top:10px; font-weight: bold">100 Мб/с без ограничений в рабочие дни с 02-00 до 18-00*</div> -->
<!-- id="carousel-example-generic" class="carousel slide" data-ride="carousel" -->
<div class="rates-100m">  
    
{% include "client/rates100m.html" with name="Люкс" speed="30" comment="Подробнее.." payment="500" href="http://www.tlvx.ru/!/internet-na-vse-100" bold="bold"%}
{% include "client/rates100m.html" with name="Стандарт" speed="10" comment="Тариф доступен только для перехода" payment="690" href="http://tlvx.ru/!/how#change-rate"%}
{% include "client/rates100m.html" with name="Комфорт" speed="18" comment="Тариф доступен только для перехода" payment="990" href="http://tlvx.ru/!/how#change-rate"%}
{% include "client/rates100m.html" with name="Престиж" speed="28" comment="Тариф доступен только для перехода" payment="1490" href="http://tlvx.ru/!/how#change-rate"%}

    <div class="feature-des-sum">
        <ul class="list-group rate-item">       
            <li class="list-group-item feature">
                <a href="{% url 'client-simple_content' page='iptv' %}">
                    <i class="fa fa-2x fa-desktop fa-fw"></i>
                    <span class="feature-des">
                        <span><strong>99 каналов </strong> бесплатно</span>
                    </span>
                </a>
            </li>

            <li class="list-group-item feature">
                <a href="{% url 'client-simple_content' page='free-support' %}">
                    <i class="fa fa-2x fa-heart fa-fw"></i>
                    <span class="feature-des">
                        <span><strong>Круглосуточная техподдержка </strong> бесплатно</span>
                    </span>
                </a> 
            </li>

            <li class="list-group-item feature">
                <a href="{% url 'client-faq' %}#sms_notification"> 
                    <i class="fa fa-2x fa-envelope fa-fw"></i>
                    <span class="feature-des">
                        <span><strong>SMS-оповещение </strong>бесплатно</span>
                    </span>
                </a>
            </li>

            <li class="list-group-item feature">
                <a href="{% url 'client-payment' name='limit' %}">
                    <i class="fa fa-2x fa-smile-o fa-fw"></i>
                    <span class="feature-des">
                        <span><strong> Обещанный платеж</a></strong></span>
                    </span>
                </a>
            </li>
        </ul>
    </div>

</div>
<div>
    <p class="help-block">*с 18-00 до 00-00 в рабочие дни и с 12-00 до 00-00 в выходные и праздничные дни</p>
    <p class="help-block">Скорость доступа к сети может отличаться от заявленной на 15% и только на сети Оператора, за ее пределами отклонение может быть значительно большим.</p>
    <p class="help-block">При недостатке денежных средств на лицевом счете происходит блокировка, для разблокировки счета необходимо внести полную сумму ежемесячной абонентской платы.</p>
    <p class="help-block">Все цены указаны в рублях с учетом всех налогов.</p>
    <p class="help-block">Количество каналов может изменяться.</p>
</div>


{% endblock %}
{% block helptext %}
{% endblock %}
