<div class="item" >
    <ul class="list-group rate-item {{class}}">
        <li class="list-group-item rate-name" ><h3>{{name}}</h3></li>
        <li class="list-group-item rate-main">
            <div>
                <div class="rate-price"><strong>{{payment}}</strong>руб/мес</div>
                <div class="rate-speed"><strong>100</strong>Мб/с</div>
            </div>
            {% if comment %}
            <a class="rate-comment help-block {% if bold %}selectedhref{% endif %}" href="{{href}}"  style="font-size:{{fz}};font-weight:{{bold}};">{{comment}}</a>
            {% endif %}
        </li>
        <li class="list-group-item feature">
            <i class="fa fa-2x fa-tachometer fa-fw"></i>
            <span class="feature-des normal-speed">
                <span>с 19-00 до 23-00<br> <strong>{{speed}} Мб/с</strong></span>
            </span>
        </li>

        {% include "client/rates-feature-list.html" %}
    </ul>
</div>