{% extends "client/rates-simple.html" %}
{% block rates-active %}
<style type="text/css">
    .rates-100m .rate-item .rate-speed strong {
        font-size: 35px;
    }
    .rates-100m .rate-item .rate-main {
        font-size: 11px;
    }
    .rates-100m .rate-item .rate-speed {
        margin-left: 1px;
    }
    .rates-100m .rate-item{
        /*width: 161px;*/
        /*height: 580px;*/
        height: 637px;
    }
    .navy .rate-name{background-color: #00B4AA!important}
    .navy .rate-comment{color: #00B4AA!important;}
    .navy .rate-comment:hover{text-decoration: underline;}
    .navy .rate-price{border-left-color: #00B4AA!important;}
    .navy .rate-speed{border-right-color: #00B4AA!important;}
    .navy a:hover{color: #00B4AA!important;}
    @media (min-width: 711px){
        .rates-100m .rate-item{
            /*width: 229px!important;*/
        }
    }
    @media (max-width: 720px){
        .rates-100m .rate-item {
          /*height: 195px;*/
          height: 185px;
        }
        .feature-des-sum .rate-item{
            height: auto;
        }
    }
    @media (min-width: 550px) and (max-width: 710px){
        .rates-100m .item{
            width: 24%;
        }
        .rates-100m .rate-item .rate-speed strong {
            font-size: 32px;
        }
        .rates-100m .rate-item{
            width: 100%;
        }
        .rates-100m{
            max-width: none;
        }
    }
    @media (max-width: 549px){
        .rates-100m .rate-item{
            width: 100%;
        }
        .rates-100m .item{
            float: none;
            display: inline-block;
        }
        .rates-100m{
            text-align: center;
        }
    }
    @media (max-width: 500px){
        .rates-100m .item {
          float: none;
        }
    }
</style>
{% comment %}
<!-- <div style="margin-top:10px; font-weight: bold">100 Мб/с без ограничений в рабочие дни с 02-00 до 18-00*</div>
  id="carousel-example-generic" class="carousel slide" data-ride="carousel" -->
{% endcomment %}
<div class="rates-100m">

{% include "client/rates100m.html" with name="Телевокс ТВ" payment="500" href="http://tlvx.ru/!/iptv#televoxtv" bold="bold" class="navy" tv="true" %}

{% include "client/rates100m.html" with name="Стандарт" speed="31" payment="690" href="http://tlvx.ru/!/how#change-rate" class="rate-middle" %}
{% include "client/rates100m.html" with name="Комфорт" speed="41" payment="990" href="http://tlvx.ru/!/how#change-rate" class="rate-middle" %}
{% include "client/rates100m.html" with name="Престиж" speed="81" payment="1490" href="http://tlvx.ru/!/how#change-rate" class="rate-middle" %}


    <div class="feature-des-sum">
        <ul class="list-group rate-item">
            {% include "client/rates-feature-list.html" %}
        </ul>
    </div>

</div>
<div>
    <p class="help-block">*Услуга предоставляется ООО "Хом.АП-ТВ". Количество каналов может меняться. Подключение производится при наличии технической возможности.</p>
    <p class="help-block">**Услуга предоставляется ООО "Медиа Технологии"</p>
    {%comment%} <p class="help-block">*с 18-00 до 00-00 в рабочие дни и с 12-00 до 00-00 в выходные и праздничные дни</p>{%endcomment%}
    <p class="help-block">Скорость доступа к сети может отличаться от заявленной на 15% и только на сети Оператора, за ее пределами отклонение может быть значительно большим.</p>
    <p class="help-block">Абонентская плата списывается ежедневно, равными долями, пропорционально количеству дней в месяце.</p>
    <p class="help-block">При недостатке денежных средств на лицевом счете происходит блокировка, для разблокировки счета необходимо внести полную сумму ежемесячной абонентской платы.</p>
    <p class="help-block">Все цены указаны в рублях с учетом всех налогов.</p>
</div>


{% endblock %}
{% block helptext %}
{% endblock %}
