<li class="list-group-item feature">
    <a href="{% url 'client-simple_content' page='podklyucenie' %}">
        <i class="fa fa-2x fa-plug fa-fw"></i>
        <span class="feature-des">
            <span>Бесплатное<strong> подключение </strong> </span>
        </span>
    </a>
</li>

<li class="list-group-item feature">
    <a href="{% url 'client-simple_content' page='iptv' %}">
        <i class="fa fa-2x fa-desktop fa-fw"></i>
        <span class="feature-des">
            {% if tv %}
            <span><strong>5 терминалов</strong> бесплатно</span>
            {% else %}
            <span><strong>200 каналов</strong> бесплатно</span>
            {% endif %}
        </span>
    </a>
</li>

<li class="list-group-item feature">
    <i class="fa fa-2x fa-youtube fa-fw"></i>
    <span class="feature-des">
        {% if tv %}
        <span>
            Доступ к
            <div><a href="https://www.youtube.com/">YouTube</a>,&nbsp
            <a href="http://www.ivi.ru/">IVI.ru</a><br></div>
        </span>
        {% else %}
        <span>
            <a href="https://www.youtube.com/">YouTube</a>,&nbsp
            <a href="http://www.ivi.ru/">IVI.ru</a><br>
            100Мб/с круглосуточно
        </span>
        {% endif %}
    </span>
</li>

<li class="list-group-item feature">
    <a href="http://tlvx.ru/!/videoclub">
        <i class="fa fa-2x fa-video-camera fa-fw"></i>
        <span class="feature-des">
            <span><strong>Видеоклуб-онлайн</strong> бесплатно</span>
        </span>
    </a>
</li>

<li class="list-group-item feature">
    <a href="{% url 'client-simple_content' page='free-support' %}">
        <i class="fa fa-2x fa-heart fa-fw"></i>
        <span class="feature-des">
            <span><strong>Круглосуточная техподдержка </strong> бесплатно</span>
        </span>
    </a>
</li>

<li class="list-group-item feature">
    <a href="{% url 'client-faq' %}#sms_notification">
        <i class="fa fa-2x fa-envelope fa-fw"></i>
        <span class="feature-des">
            <span><strong>SMS-оповещение </strong>бесплатно</span>
        </span>
    </a>
</li>

<li class="list-group-item feature">
    <a href="{% url 'client-payment' name='limit' %}">
        <i class="fa fa-2x fa-smile-o fa-fw"></i>
        <span class="feature-des">
            <span><strong> Обещанный платеж</a></strong></span>
        </span>
    </a>
</li>
