{% extends "client/base.html" %}


{% block jsscript %}
{% endblock %}


<!-- Если страница "Интернет" - делаем нужную секцию меню активной -->
{% block internet-btn-active %}
    {% ifequal name "internet" %}
        active
    {% endifequal %}
{% endblock %}


<!-- Если страница "Телевидение" - делаем нужную секцию меню активной -->
{% block iptv-btn-active %}
    {% ifequal name "iptv" %}
        active
    {% endifequal %}
{% endblock %}


{% block main-top-left %}
<div class="content">
    {{ content|safe }}
</div>
{% endblock %}