<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Интернет провайдер Телевокс - Интернет в каждый дом!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/bootstrap-3.0.0/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/tlvx.css" />    
    <link rel="stylesheet" href="/static/css/fonts.css" />    
    <title>Televox</title>
</head>
<body>
    <div id="wrap" >
        <header>
            <div class="content-inner" style="text-align:center">
                <h1>Wrrrrryyyy</h1>
                <p>Сервер попытался выполнить деление на ноль. Но не смог.</p>
                <p>Повторите попытку чуть позже. <a href="/">На главную</a></p>
            </div>
        </header>   
        <section id="main" class="clearfix">
            <div class="content-inner" style="text-align:center">
                <p>Ваши запросы растраивают котика</p>
/\**/\<br>
&nbsp; &nbsp; ( o_o &nbsp;)_)<br>
&nbsp; &nbsp; ,(u &nbsp; u &nbsp; ,),<br>
&nbsp; &nbsp; {}{}{}{}{}{}<br>
            </div>
        </section>             
    </div>
    <footer>
        <div class="content-inner">
            <div class="content-inner-left">
                &copy; ООО "Телевокс", 2008-2018 <span style="color: red">6+</span><br>
                    Свидетельство о регистрации СМИ  Эл № ФС77-46508 от 09.09.2011 г. выданное Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)<br>
                    Главный редактор - Матюшенко Н.В.<br>
                    Телефон редакции 777-000
            </div>
        </div>      
    </footer>
</body>
