{% extends "client/about/about.html" %}
{% block content %}Телевокс - Документы{% endblock %}
{% block title %}Televox -  Документы{% endblock %}


{% block jsscript %}
    <script type="text/javascript"> </script>
{% endblock %}


{% block about %}
<div  class="link-list">
<!-- Page top content -->
    {{ content|safe }}

<!-- Set a content tree -->
    <ul>
        {% for doc in childs %}
        <li>
            <strong>{{ doc.display_name }}</strong> <!-- Document's section header -->

            <ul> <!-- Document's section -->
                {% for d in doc.childs %}
                    <li> <!-- Link to document -->
                        <a href=" {% url 'client-index'%}{{d.attach}} "> {{ d.display_name }} </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div><!-- /.link-list -->
{% endblock %}


{% block main-bottom-left %}
{% endblock %}