{% extends "client/payment/payment-way.html" %}
{% load staticfiles %}


{% block content %}Телевокс - Оплата наличными{% endblock %}
{% block title %}Televox -  Оплата наличными{% endblock %}


{% block jsscript %}
<script type="text/javascript" src="{% static "js/libs/2gis/1.0/2gis.js" %}"></script>
<script type="text/javascript">
    document.getElementById('searchInPoints').onkeydown = searchPaymentTermonal;
    document.getElementById('paymentSelect').onchange = selectPayment;
</script>
{% endblock %}


{% block payment-title %}
    Наличные, 0%
{% endblock %}


{% block payment %}
<!-- Контейнер карты -->
    <div id="myMapId" class="map margin-bottom"></div>
    <noscript>Для просмотра карты и поиска нужного терминала необходим javascript. Пожалуйста, включите его в настройках вашего браузера.</noscript>
    <span class="help-block">На карте в виде маркеров обозначены места, в которых вы можете заплатить за услуги "Телевокс"</span>

<!-- Выбор оператора -->
    <div class="margin-bottom margin-top">
        <select class="form-control input-sm" id="paymentSelect">
            <option value="" selected="selected">Все</option>
            {% for payment in payments %}
               <option id="{{payment.id}}">{{ payment.name|safe }}</option>
            {% endfor %}
        </select><!-- /.paymentSelect -->
        <span class="help-block">Вы можете выбрать конкретного оператора из списка</span>
    </div>

<!-- Поиск терминала -->
    <div>
        <input type="text" class="form-control input-sm" placeholder="Название или адрес" id="searchInPoints">
        <span class="help-block">Введите название местоположения или адрес терминала, чтобы найти его. Например, &laquo;Зейская&raquo; или &laquo;От и До&raquo;. При этом маркеры и список внизу отфильтруются согласно вашему запросу.</span>
    </div>

{% endblock %}


{% block simitems %}
<div id="simmularItems" class="items-area">
    {% for payment in payments %}
<!-- Модальное окно с описанием способа оплаты оператора -->
        <div class="modal fade" id="modal{{ payment.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Как оплатить через {{ payment.name }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ payment.description|safe }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Понятно </button>
                        </div>
                    </form>
                  </div>
            </div>
        </div><!-- /.modal.fade -->

<!-- Список терминалов оператора -->
        {% for point in payment.get_points %}
            <div class="some-item" id="simmularItemsID_{{point.id}}"
                 data-ico="{{payment.marker.name}}" data-payment="{{payment.name}}"
                 data-lat="{{point.address.lat}}" data-lng="{{point.address.lng}}">
                <p class="some-item-date">{{ payment.name }} </p>
                <div class="some-item-body">
                    <span class="some-item-body-title">{{ point.address.get_address }}</span>
                    <div class="some-item-body-text">
                        {{ point.display_name|safe }}
                        <div>
                            <a data-toggle="modal" class="how-play-btn bold-a"
                               href="#modal{{ payment.id }}">Как оплатить</a>
                        </div>
                    </div><!-- /.some-item-body-text -->
                </div><!-- /.some-item-body -->
            </div><!-- /.some-item -->
        {% endfor %}
    {% endfor %}
</div><!-- /#simmularItems.items-area -->
{% endblock %}
