{% extends "client/payment-way.html" %}
{% block content %}Телевокс - Оплата электронными деньгами{% endblock %}
{% block title %}Televox -  Оплата электронными деньгами{% endblock %}

{% block payment-title %}
    Электронные деньги
{% endblock %}


{% block payment %}
<!-- Контент -->
{{data.inn.content|safe}}

<div class="text-center"  id="connectButton">
    <a href="http://www.tele-vox.ru"  class="btn btn-default  mybtn">Личный кабинет</a>
</div>

<br>
<br>
<br>
<!-- Инструкция по оплате -->
<div class="modal fade" id="modal-instruction" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Инструкция по оплате</h4>
                </div>
                <div class="modal-body">
                    {{data.instruction.content|safe}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Понятно </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="some-item">
    <a class="some-item-body"  data-toggle="modal" href="#modal-instruction">
        <div class="some-item-body-text">
            <div class="how-play-btn">
                <strong>Инструкция по оплате</strong>
            </div>
        </div>
    </a>
</div>


<!-- Возврат ошибочно уплаченных денежных средств  -->
<div class="modal fade" id="modal-returns" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Возврат ошибочно уплаченных денежных средств</h4>
                </div>
                <div class="modal-body">
                    {{data.returns.content|safe}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Понятно </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="some-item">
    <a class="some-item-body"  data-toggle="modal" href="#modal-returns">
        <div class="some-item-body-text">
            <div class="how-play-btn">
                <strong>Возврат ошибочно уплаченных денежных средств</strong>
            </div>
        </div>
    </a>
</div>
{% endblock %}

{% block simitems %}
<!-- Логотип Асист  -->
<p>Услуга предоставлена компанией <a href="http://www.assist.ru">
<img src="http://www.assist.ru/images/assist_logo.gif" width="155" height="49" border="0" alt="Система
электронных платежей" style="display: inline-block;margin-left:5px;">
</a></p>
{% endblock %}