{% extends "client/payment/payment-way.html" %}


{% block content %}Телевокс - Оплата пластиковыми картами{% endblock %}
{% block title %}Televox -  Оплата пластиковыми картами{% endblock %}


{% block payment-title %}
    Пластиковые карты, 0%
{% endblock %}


{% block payment %}
<div id="payment-card">
    {% with payment=dvpay %}
        <!-- ДВ Пей-->
        <!-- Оператор-->
        <div class="some-item">
            <a class="some-item-body" href="http://www.h-pay.ru/pay/televox.html">
                <span class="some-item-body-title">{{ payment.name|safe }}</span>
                <div class="some-item-body-text">
                    {{ payment.hint_line|safe }}
                    <div class="how-play-btn">
                        Оплатить
                    </div>
                </div>
            </a>
        </div>
    {% endwith %}

    {% with payment=telebank%}
        <!-- ВТБ-->
        <!-- Оператор -->
        <div class="some-item">
            <div class="some-item-body" >
                <span class="some-item-body-title">{{ payment.name|safe }}</span>
                <div class="some-item-body-text">
                    {{ payment.hint_line|safe }}
                    <div>
                    <a class="how-play-btn" href="http://tlvx.ru/page/vtb_online">
                    Как оплатить
                    </a>
                    </div>
                </div>
            </div>
        </div>
   {% endwith %}

   {% with payment=sberbank %}
        <!-- Сбербанк-->
        <!-- Оператор -->
        <div class="some-item">
            <div class="some-item-body">
                <span class="some-item-body-title">{{ payment.name|safe }}</span>
                <div class="some-item-body-text">
                    {{ payment.hint_line|safe }}
                    <div>
                        <a class="how-play-btn" href="http://tlvx.ru/page/sberbank_online">
                        Оплата через личный кабинет для держателей карт Сбербанк
                        </a>
                    </div>
                    <div>
                        <a class="how-play-btn" href="http://tlvx.ru/page/sberbank_avtoplateg">
                        Подключение автоплатежа в Сбербанк Онлайн (мобильная версия)
                        </a>
                    </div>
                    <div>
                        <a class="how-play-btn" href="http://tlvx.ru/page/sberbank_avtoplateg_site">
                        Подключение автоплатежа в Сбербанк Онлайн на сайте
                        </a>
                    </div>
                 </div>
            </div>
        </div>
   {% endwith %}




</div><!-- /#payment-card -->
{% endblock %}
